.interest-rate {
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  background-color: #fff7cf;
  margin-bottom: 30px;

  * {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }

  hr {
    border-color: $text-primary-color;
    opacity: 0.2;
    margin-bottom: 15px;
  }

  &__header, &__monthly, &__insurance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    @include responsive(null, md) {
      flex-wrap: wrap;
    }

    &--text, &--values {
      display: flex;
      flex: 0 0 30%;
      justify-content: space-between;

      @include responsive(null,md) {
        flex: 0 0 100%;
        margin-top: 10px;
      }

      p {
        width: 50%;
        text-align: right;

        @include responsive(null,md) {
          text-align: left;
        }
      }
    }

    &--title {
      @include responsive(null,md) {
        flex: 0 0 100%;
      }
    }
  }

  &__monthly {
    &--values {
      p {
        font-size: 24px;
        font-weight: bold;
      }

      @include responsive(null, md) {
        margin-top: 10px;
      }
    }
  }

  &__insurance {
    margin-bottom: 0;

    @include responsive(null, md) {
      display: none;
    }

    &--values {
      p {
        font-weight: bold;
      }
    }
  }
}