.step-footer {
  margin-bottom: 60px;

  .divider {
    height: 3px;
    margin: 40px 0;
    background-color: #f0f0f0;
  }

  &__btn {
    @include responsive(null, md) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &.step-one {
      justify-content: flex-end;
    }
  }

  &__buttons {
    align-items: center;
    justify-content: space-between;

    @include responsive(null, md) {
      margin: 0;
      flex-direction: column-reverse;
    }

    i {
      vertical-align: bottom;
    }

    .btn {
      margin-left: 15px;
      border: 1px solid $primary-color;

      &[disabled] {
        background-color: transparent!important;
        opacity: 0.5;
      }

      &:focus {
        background-color: inherit;
        color: $primary-color;

        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }

  &--save {
    color: $secondary-color;
    font-weight: bold;

    @include responsive(null, md) {
      width: 100%;
      margin-top: 40px;
      text-align: right;
    }
  }
}