.step-form {
  @include responsive(null, md) {
    padding: 0 $gutter;
  }

  &__info {
    justify-content: space-between;

    &--text {
      flex: 0 0 50%;

      @include responsive(null, md) {
        flex: 0 0 100%;
        padding: 0 $gutter;
      }

      p {
        padding: 0 15px;
        border-left: 2px solid $text-primary-color;
        color: $text-secondary-color;
      }
    }

    &--remove {
      padding: 0 $gutter;

      a {
        color: $primary-color;
        display: flex;
        align-items: center;
      }

      @include responsive(null, md) {
        flex: 0 0 100%;
      }
    }

    &--autosave {
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }

      span {
        font-style: italic;
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 0.8rem;
      }


      @include responsive(null, md) {
        flex: 0 0 100%;
        padding: 0 $gutter;
      }
    }

    @include responsive(null, md) {
      padding: 0 $gutter;
      flex-direction: column-reverse;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 35px;

    &--one-column {
      .step-form__form--single-input {
        width: 100%;
      }
    }

    &--two-columns {
      .step-form__form--single-input {
        width: 50%;
        @include responsive(null, md) {
          width: 100%;
        }
      }
    }

    &--single-input {
      width: 33.333%;
      @include responsive(null, md) {
        width: 100%;
      }

      p {
        position: relative;
        display: inline-block;
        margin-top: 0;
        margin-right: 10px;
      }

      label {
        width: auto;
      }

      input {
        width: 90%;
      }

      .select-wrapper {

        .select-dropdown {
          @include responsive(null, md) {
            width: 100%;
          }
        }
          @include responsive(null, md) {
            .caret {
              right: 15px;
            }
          }
      }

      &.radio-input {
        label {
          display: block;
          width: 100%;
        }
      }

      &.text-input {
        label {
          padding-left: 10px;
        }

        input {
          @include responsive(null,md) {
            width: 100%;
          }
        }

        .prefix {
          position: absolute;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          -webkit-transition: color .2s;
          -o-transition: color .2s;
          transition: color .2s;
          border: 1px solid #9e9e9e;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          &.active {
            border-color: $secondary-color;
          }

          ~ input {
            margin-left: 2.5rem;
            width: calc(100% - 4.3rem);

            &:focus {
              border-left: none;
            }

            @include responsive(null, md) {
              width: calc(100% - 2.5rem);
            }
          }
        }

        &.phone-number {
          input {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &.text-input--small {
          width: 23.5%;
          @include responsive(null, md) {
            width: 43%;
            margin-right: 20px;
          }
        }
      }
    }

    &--collateral {
      .step-form__form--single-input {
        width: 100%;
        margin-top: 20px;

        input {
          margin: 0;
        }
      }
    }
  }

  #loan-term-radio-input {
    width: 100%;
    margin-bottom: 20px;
  }

}